<a href="https://colab.research.google.com/github/Yazn92/Prediction-of-Product-Sales/blob/main/Project_1_Part_2_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
fname = "/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/sales_predictions_2023.csv"

In [4]:
import pandas as pd

# Loading data

In [5]:
df = pd.read_csv(fname)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [7]:
# Dropinh duplicates
df = df.drop_duplicates()

In [9]:
# Count missing values in each column
missing_count = df.isna().sum()
print(missing_count)

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [10]:
df['Item_Weight']

0        9.300
1        5.920
2       17.500
3       19.200
4        8.930
         ...
8518     6.865
8519     8.380
8520    10.600
8521     7.210
8522    14.800
Name: Item_Weight, Length: 8523, dtype: float64

In [11]:
df['Item_Weight'] = df['Item_Weight'].fillna(0.00)

In [12]:
df["Outlet_Size"]

0       Medium
1       Medium
2       Medium
3          NaN
4         High
         ...
8518      High
8519       NaN
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object

In [13]:
df["Outlet_Size"] = df["Outlet_Size"].fillna('No Size')

In [14]:
# Missing value count after filling missing values
missing_count = df.isna().sum()
print(missing_count)

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [16]:
'''
  Categorical volumns to probably fix
  Item_Fat_Content
  Item_Type
  Outlet_Location_Type
  Outlet_Type
'''
categorical_columns = ["Item_Fat_Content", "Item_Type", "Outlet_Location_Type", "Outlet_Type"]

for col in categorical_columns:
  print (f"Distinct values for {col}")
  print(df[col].unique())
  print ("\n\n")

Distinct values for Item_Fat_Content
['Low Fat' 'Regular' 'low fat' 'LF' 'reg']



Distinct values for Item_Type
['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']



Distinct values for Outlet_Location_Type
['Tier 1' 'Tier 3' 'Tier 2']



Distinct values for Outlet_Type
['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']

In [17]:
# All columns have appropiate distinct values , except for Item_Fat_content

replace_dict = {
    "low fat": "Low Fat",
    "LF": "Low Fat",
    "reg": "Regular"
}
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace(replace_dict)

In [18]:
# Check again after normalization
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [20]:
# Getting min, max and mean for numerical columns
numerical_df = df.select_dtypes(include=['number'])
numerical_columns = numerical_df.columns

for num_col in numerical_columns:
  print (f"{num_col} minimum = {numerical_df[num_col].min()}")
  print (f"{num_col} maximum = {numerical_df[num_col].max()}")
  print (f"{num_col} mean = {numerical_df[num_col].mean()}")

Item_Weight minimum = 0.0
Item_Weight maximum = 21.35
Item_Weight mean = 10.650589581133403
Item_Visibility minimum = 0.0
Item_Visibility maximum = 0.328390948
Item_Visibility mean = 0.06613202877895108
Item_MRP minimum = 31.29
Item_MRP maximum = 266.8884
Item_MRP mean = 140.9927819781767
Outlet_Establishment_Year minimum = 1985
Outlet_Establishment_Year maximum = 2009
Outlet_Establishment_Year mean = 1997.8318667135984
Item_Outlet_Sales minimum = 33.29
Item_Outlet_Sales maximum = 13086.9648
Item_Outlet_Sales mean = 2181.288913575032